<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
        <title>Parking System</title>
    </head>

    <body>
        <div id="parking-dashboard">
            <div id="spots-counter">
                <h1>SPOTS OCCUPIED</h1>
                <p>0</p>
            </div>

{#            <div id="data-console">#}
{#                <h1>DATA OUTPUT CONSOLE</h1>#}
{#                <hr>#}
{#                <div><ol></ol></div>#}
{#            </div>#}

            <img id="logo" src="static/images/parkive.png" width="80%">
        </div>

        <div id="parking-container">
            <h2 class="vertical-strip strip"></h2>
            <h2 class="horizontal-strip strip" id="strip-1"></h2>
            <h2 class="horizontal-strip strip" id="strip-2"></h2>
            <h2 class="horizontal-strip strip" id="strip-3"></h2>


            <div class="indicator" id="ind-1"></div>
            <div class="indicator" id="ind-2"></div>
            <div class="indicator" id="ind-3"></div>
            <div class="indicator" id="ind-4"></div>
        </div>

    </body>
    <script src="static/js/jquery-3.6.3.js" rel="script" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script src="static/js/index.js" rel="script" type="text/javascript"></script>
</html>